@use "../../../../styles" as styles;

:host {
  display: block;
  min-height: 100vh;
  background-color: styles.$light-color;
}

router-outlet {
  display: block;
  padding-top: 68px; // Pour compenser la hauteur de la barre de navigation
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.hike-card {
  flex: 1 1 22%; // ou calc(25% - gap)
  min-width: 0;
  max-width: 100%;
}
