@import "../styles.scss";

:host {
  display: block;
  min-height: 100vh;
  background-color: $light-color;
}

router-outlet {
  display: block;
  padding-top: 68px; // Pour compenser la hauteur de la barre de navigation
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.cards-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  background-color: #f5f5f5;
}
