@use "../../../../styles" as styles;

mat-card-actions {
  display: flex;
  justify-content: flex-end;
  border-radius: 16px;
}

.hike-card {
  width: 360px;
  height: 480px;
  background-color: styles.$light-color;
  border-radius: 12px;
  padding: 0;
  overflow: hidden;

  img[mat-card-image] {
    width: 100%;
    height: 252px;
    object-fit: cover;
    display: block;
  }

  img[canton-badge] {
    position: absolute;
    top: 4px;
    left: 4px;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.9em;
    width: 55px;
    height: 69px;
  }
}

.button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
}

.detail-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;

  mat-icon {
    margin-right: 8px;
    color: #000000;
  }
}

mat-divider {
  margin: 8px 0;
  width: 90%;
  align-self: center;
  color: styles.$dark-color;
}

.hike-details-left,
.hike-details-right {
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 4px;
}

#elevation-item,
#historicity-item,
.elevation-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}
