@use "../../../../styles" as styles;

mat-card-actions {
  display: flex;
  justify-content: flex-end;
  border-radius: 16px;
}

.hike-card {
  width: 100%;
  height: 400px;
  background-color: styles.$primary-color;
  border-radius: 12px;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  border: 2px solid transparent;

  &.selected {
    box-shadow: 0 0 15px rgba(styles.$secondary-color, 0.3);
    transform: translateY(-2px);
    background-color: styles.$is-selected-color;
  }

  img[mat-card-image] {
    width: 100%;
    height: 50%;
    object-fit: cover;
    display: block;
  }

  img[canton-badge] {
    position: absolute;
    top: 4px;
    left: 4px;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.9em;
    width: 55px;
    height: 69px;
  }

  mat-card-header {
    padding: 8px 16px;

    mat-card-title {
      font-size: 1.1rem;
      line-height: 1.2;
      margin: 0;
    }
  }

  mat-card-content {
    flex: 1;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hike-details {
    .detail-item {
      margin: 4px 0;
      font-size: 0.9rem;
    }

    mat-icon {
      font-size: 1.1rem;
      width: 1.1rem;
      height: 1.1rem;
    }
  }

  .hike-information {
    margin-top: 1.5rem;
    .information-title {
      font-size: 0.85rem;
    }

    .elevation-item-content,
    .historicity-note-item {
      font-size: 0.85rem;
    }
  }
}

.button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
}

.detail-item {
  display: flex;
  padding: 0.1rem 0; // a voir
  justify-content: space-between;
  align-items: center;
  margin: 0.01rem 0;

  mat-icon {
    margin-right: 0.01rem;
    color: #000000;
  }
}

mat-divider {
  margin: 8px auto;
  width: 90%;
  color: styles.$dark-color;
}

.hike-details-left,
.hike-details-right {
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 4px;
}

#elevation-item,
#historicity-item,
.elevation-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

#elevation-icon {
  width: 1.1rem;
  height: 1.1rem;
}
