@use "../../../../styles" as styles;

.root {
  padding: 1px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  overflow: hidden;
}
.rectangle2 {
  display: flex;
  box-sizing: content-box;
}

.rectangle2_selectedOn {
  display: flex;
}

.rectangle2_selectedOff {
  display: flex;
}

.vector {
  top: 12px;
  left: 12px;
  position: absolute;
  display: flex;
  box-sizing: content-box;
}
