<div class="root">
  <div
    class="rectangle2"
    [ngClass]="{
      rectangle2_selectedOn: selected === 'On',
      rectangle2_selectedOff: selected === 'Off',
    }"
  >
    <svg
      width="46"
      height="46"
      viewBox="0 0 46 46"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect width="46" height="46" rx="23" fill="#fef7ff" />
    </svg>
  </div>
  <div class="vector">
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M10.875 24V4.275L1.575 13.575L0 12L12 0L24 12L22.425 13.575L13.125 4.275V24H10.875Z"
        fill="black"
      />
    </svg>
  </div>
</div>
