@import "../../../../styles.scss";

.settings_141-1924 {
  position: relative;
  box-sizing: border-box;
}
.icon_141-1925 {
  top: 2px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}
