@use "../../../../styles.scss";

.root {
  padding: 0rem 1.5rem 0rem 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6.75rem;
  box-sizing: border-box;
  background: styles.$primary-color;
}
.logoFrame {
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  box-sizing: border-box;
  overflow: hidden;
  background: styles.$primary-color;
  height: 4.25rem;
}
