@import "../../../../styles.scss";

.root {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 108px;
  box-sizing: border-box;
  background: #fef7ff;
}
.logoFrame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  overflow: hidden;
  background: #fef7ff;
  height: 68px;
  align-items: center;
}
