@import "../../../../styles.scss";

.account-circle_141-2041 {
  position: relative;
  box-sizing: border-box;
}
.icon_141-2042 {
  top: 2px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}
