@use "../../../styles" as styles;

.hike-detail {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.hike-info {
  margin: 20px 0;
}
.hike-banner {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
}
